@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
.button {
  padding: 12px 14px;
  text-transform: uppercase;
  color: #4a4a4a;
  font-weight: 700;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  cursor: pointer;
}

.button:hover {
  background-color: #4a4a4a;
  color: #ffffff;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #222222;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #222222;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-line {
  border-bottom: 1px solid #ececec;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.header__left, .header__right {
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right {
  position: relative;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__name {
  margin-left: 12px;
  margin-right: 37px;
  text-transform: uppercase;
  font-size: 27px;
}

.logo__name span {
  color: #f16d7f;
  font-weight: 900;
}

.search {
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  overflow: hidden;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
}

.search > .search__browse {
  height: inherit;
  width: 87px;
  border-radius: 3px 0 0 3px;
  background-color: #d6d6d62e;
  text-align: center;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.35px;
  cursor: pointer;
  line-height: 38px;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.search > .search__browse:hover {
  background-color: #a4a4a423;
}

.search > .search__browse i {
  margin-left: 5px;
}

.search__input {
  width: 280px;
  height: inherit;
  padding: 0 15px;
  outline: none;
  overflow: hidden;
  border: none;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  font-size: 14px;
  letter-spacing: 0.35px;
}

.search__input::-webkit-input-placeholder {
  color: #a4a4a4bb;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.65px;
}

.search__input:-ms-input-placeholder {
  color: #a4a4a4bb;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.65px;
}

.search__input::-ms-input-placeholder {
  color: #a4a4a4bb;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.65px;
}

.search__input::placeholder {
  color: #a4a4a4bb;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.65px;
}

.search__button {
  width: 38px;
  outline: none;
  overflow: hidden;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.search__button:hover {
  background-color: #a4a4a423;
}

.cart {
  position: relative;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.cart img {
  width: 32px;
  height: 29px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: -webkit-transform 2s cubic-bezier(1, -0.21, 0, 1.33);
  transition: -webkit-transform 2s cubic-bezier(1, -0.21, 0, 1.33);
  transition: transform 2s cubic-bezier(1, -0.21, 0, 1.33);
  transition: transform 2s cubic-bezier(1, -0.21, 0, 1.33), -webkit-transform 2s cubic-bezier(1, -0.21, 0, 1.33);
}

.cart img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.cart img:active {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: myanim;
          animation-name: myanim;
}

.cart span {
  position: absolute;
  top: -3px;
  left: 22px;
  color: #ffffff;
  width: 19px;
  height: 19px;
  background-color: #f16d7f;
  border-radius: 20px;
  font-size: 12px;
  line-height: 19px;
  text-align: center;
}

.my-account {
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
}

.my-account > a {
  width: 130px;
  height: inherit;
  background-color: #f16d7f;
  text-align: center;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0.38px;
  line-height: 38px;
  margin-left: 26px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.my-account > a:hover {
  background-color: #ffffff;
  color: #f16d7f;
  outline: 1px solid #f16d7f;
}

.my-account > a i {
  margin-left: 5px;
}

.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 51px;
  font-size: 14px;
  font-weight: bold;
}

.top-nav > .menu-list {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.top-nav > .menu-list .menu-link {
  text-transform: uppercase;
  padding: 15px 20px;
  position: relative;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
}

.top-nav > .menu-list .menu-link:hover::before {
  left: 0;
  right: 0;
}

.top-nav > .menu-list .menu-link:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: -3px;
  background: #f16d7f;
  height: 3px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.top-nav > .menu-link {
  display: block;
  padding: 20px 10px;
  font-family: sans-serif;
  line-height: 26px;
  text-transform: uppercase;
}

.active {
  border-bottom: 3px solid #f16d7f;
}

#menu-header-checkbox {
  display: none;
}

#menu-header-checkbox ~ label {
  display: none;
  padding: 5px;
  font-size: 30px;
}

#menu-header-checkbox:checked ~ .menu-list {
  height: 270px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.crumps {
  height: 148px;
  background-color: #f8f3f4;
  margin-bottom: 68px;
}

.crumps .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.crumps h2 {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.crumps nav {
  color: #636363;
  font-size: 14px;
  text-transform: uppercase;
}

.crumps nav span {
  color: #f16d7f;
  font-weight: 700;
}

.slider {
  background-color: #f7f7f7;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__block {
  width: 1609px;
  min-height: 777px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__block i {
  width: 47px;
  height: 47px;
  line-height: 47px;
  text-align: center;
  font-size: 35px;
  color: #ffffff;
  background-color: #2a2a2a18;
  cursor: pointer;
}

.slider__block i:hover {
  background-color: #2a2a2a4d;
}

.checkout {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 93px 0;
}

.checkout__list {
  width: inherit;
  position: relative;
  counter-reset: list;
}

.checkout__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 73px;
  border-bottom: 1px solid #e8e8e8;
}

.checkout__list li .checkbox {
  display: none;
  cursor: pointer;
}

.checkout__list li .checkbox:checked ~ .checkout__list-block {
  height: 430px;
  padding-top: 20px;
}

.checkout__list li .checkbox:checked ~ .checkout__list-title {
  color: #f16d7f;
}

.checkout__list li::before {
  counter-increment: list;
  content: "0" counter(list) ".";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-weight: bold;
}

.checkout__list-title {
  margin-left: 10px;
  color: #222222;
  font-family: Lato;
  font-size: 16px;
  line-height: 73px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.checkout__list-title:hover {
  color: #f16d7f;
}

.checkout__list-block {
  width: 100%;
  height: 0;
  padding-left: 35px;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.checkout--active {
  color: #f16d7f;
}

.checkout__formleft {
  width: 50%;
}

.checkout__formleft h3 {
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 30px;
}

.checkout__formleft h3:first-child {
  margin: 0;
}

.checkout__formleft p {
  color: #b3b2b2;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 24px;
}

.checkout__formleft-radio {
  position: relative;
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.checkout__formleft-radio label {
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}

.checkout__formleft-radio label::before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 14px;
  height: 14px;
  border-radius: 11px;
  border: 2px solid #555555;
  background-color: transparent;
}

.checkout__formleft-radio input {
  display: none;
}

.checkout__formleft-radio input[type="radio"]:checked + label:after {
  content: " ";
  position: absolute;
  top: 9px;
  left: 4px;
  width: 10px;
  height: 10px;
  border-radius: 11px;
  background: #000000;
}

.checkout__formleft h4 a {
  color: #b3b2b2;
  font-size: 13px;
  line-height: 20px;
}

.checkout__formleft h4 a:hover {
  color: #f16d7f;
}

.checkout__formleft h4 a i {
  margin-right: 5px;
}

.checkout__formleft button {
  width: 180px;
  height: 50px;
  border: 1px solid #eaeaea;
  background: #fff;
  color: #4a4a4a;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 38px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.checkout__formleft button:hover {
  background-color: #4a4a4a36;
  color: #fff;
}

.checkout__formright {
  width: 50%;
}

.checkout__formright h3 {
  font-size: 13px;
  text-transform: uppercase;
}

.checkout__formright p {
  color: #b3b2b2;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 24px;
}

.checkout__formright h5 {
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.checkout__formright h5 span {
  font-size: 15px;
  color: #f16d7f;
}

.checkout__formright input {
  width: 390px;
  height: 45px;
  border: 1px solid #eaeaea;
  padding: 0 10px;
  margin-bottom: 13px;
}

.checkout__formright h6 {
  color: #f16d7f;
  font-size: 12px;
  line-height: 20px;
}

.checkout__formright-submit {
  width: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 12px;
}

.checkout__formright-submit button {
  width: 180px;
  height: 50px;
  border: 1px solid #eaeaea;
  background: #fff;
  color: #4a4a4a;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.checkout__formright-submit button:hover {
  background-color: #4a4a4a36;
  color: #fff;
}

.checkout__formright-submit a {
  font-size: 14px;
  margin-bottom: 10px;
}

.checkout__formright-submit a:hover {
  color: #f16d7f;
}

.subscribe {
  background: url("../img/layers-41.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-color: #f2f2f2;
  max-width: 1609px;
  min-height: 438px;
  margin: 0 auto;
  margin-bottom: 109px;
}

.subscribe > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: inherit;
}

.subscribe__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 500px;
}

.subscribe__left img {
  width: 86px;
  height: 86px;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  margin-right: 28px;
}

.subscribe__left-text p {
  font-style: italic;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: -0.2px;
  margin-bottom: 19px;
}

.subscribe__left-text p:nth-child(2) {
  color: #f16d7f;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.4px;
  line-height: 14px;
  font-style: normal;
}

.subscribe__left-text p:nth-child(2) span {
  color: #222222;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
}

.subscribe__left-pagination span {
  display: inline-block;
  width: 38px;
  height: 7px;
  cursor: pointer;
}

.subscribe__left-pagination span:nth-child(1) {
  border-bottom: 4px solid #f2f2f2;
}

.subscribe__left-pagination span:nth-child(2) {
  border-bottom: 4px solid #f16d7f;
}

.subscribe__left-pagination span:nth-child(3) {
  border-bottom: 4px solid #d6d6d6;
}

.subscribe__right {
  width: 570px;
}

.subscribe__right p {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.8px;
  line-height: 24px;
}

.subscribe__right p span {
  font-size: 12px;
  letter-spacing: 1.6px;
}

.subscribe__right-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 27px;
}

.subscribe__right-email input {
  width: 280px;
  border-radius: 30px 0 0 30px;
  border: none;
  background-color: #e1e1e1;
  padding: 16px 28px;
  font-size: 14px;
  letter-spacing: 0.35px;
}

.subscribe__right-email input:focus {
  outline: none;
}

.subscribe__right-email button {
  padding: 16px 20px;
  border: none;
  background-color: #f16d7f;
  border-radius: 0 23px 23px 0;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.35px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.subscribe__right-email button:hover {
  background-color: #ffffff;
  color: #f16d7f;
}

.subscribe__right-email button:focus {
  outline: none;
}

.container > .footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 81px;
}

.text__block {
  max-width: 432px;
  min-height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text__block-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 51px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sans-serif;
  font-size: 27px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.68px;
}

.text__block-logo img {
  margin-right: 8px;
}

.text__block-logo span {
  margin-top: 10px;
}

.text__block-logo span:last-child {
  color: #f16d7f;
  font-family: sans-serif;
  letter-spacing: 0.68px;
}

.text__block p {
  color: #898989;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.35px;
}

.text__block p:nth-child(2) {
  margin-top: 23px;
}

.text__block p:nth-child(3) {
  margin-top: 23px;
  letter-spacing: 0.35px;
}

.text__company {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.text__company h1 {
  color: #f16d7f;
  font-size: 18px;
  letter-spacing: normal;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.45px;
  line-height: normal;
  margin-bottom: 26px;
}

.text__company ul {
  list-style-type: none;
  margin-left: 2px;
  line-height: 42px;
  letter-spacing: 0.3px;
}

.text__company ul li a {
  color: #898989;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.text__company ul li a:hover {
  color: #222222;
}

.footer {
  width: 100%;
  height: 79px;
  background-color: #e6e6e6;
}

.footer > .container {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copy {
  color: #7a7a7a;
  font-family: Lato;
  font-size: 16px;
  letter-spacing: 0.56px;
}

.footer__social a i {
  color: #ffffff;
  font-size: 36px;
  margin-left: 5px;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.footer__social a i:hover {
  color: #f16d7f;
}

.footer__social a i:active {
  color: #d1d1d1;
}

@-webkit-keyframes myanim {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  10% {
    -webkit-transform: translate(0px, -17px);
            transform: translate(0px, -17px);
  }
  20% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  30% {
    -webkit-transform: translate(-17px, -17px);
            transform: translate(-17px, -17px);
  }
  40% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(-17px, 0px);
            transform: translate(-17px, 0px);
  }
  60% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  70% {
    -webkit-transform: translate(-17px, 17px);
            transform: translate(-17px, 17px);
  }
  80% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  90% {
    -webkit-transform: translate(0px, 17px);
            transform: translate(0px, 17px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes myanim {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  10% {
    -webkit-transform: translate(0px, -17px);
            transform: translate(0px, -17px);
  }
  20% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  30% {
    -webkit-transform: translate(-17px, -17px);
            transform: translate(-17px, -17px);
  }
  40% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(-17px, 0px);
            transform: translate(-17px, 0px);
  }
  60% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  70% {
    -webkit-transform: translate(-17px, 17px);
            transform: translate(-17px, 17px);
  }
  80% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  90% {
    -webkit-transform: translate(0px, 17px);
            transform: translate(0px, 17px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
/*# sourceMappingURL=style3.css.map */