.brand {
  height: 612px;
  background-color: #e8e8e8;
  background-image: url("../img/topHeaderBack.png");
  background-repeat: no-repeat;
  background-position: 72% 0;
  &__block {
    height: inherit;
    display: flex;
    align-items: center;
  }
  &__title {
    width: 400px;
    line-height: 48px;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-left: 12px solid #f26d80;
    padding-left: 12px;
    span {
      font-size: 40px;
      letter-spacing: 0.9px;
      line-height: 32px;
      &:last-child {
        color: $maincolor;
      }
    }
  }
}
