.crumps {
  height: 148px;
  background-color: #f8f3f4;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
  }
  h2 {
    color: #f16d7f;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;

    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
  }
  nav {
    color: #636363;
    font-size: 14px;
    text-transform: uppercase;
    span {
      color: #f16d7f;
      font-weight: 700;
    }
  }
}
