.container > .footer__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 81px;
}

.text {
  &__block {
    max-width: 432px;
    min-height: 260px;
    display: flex;
    flex-direction: column;
    &-logo {
      display: flex;
      height: 51px;
      align-items: center;
      font-family: sans-serif;
      font-size: 27px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.68px;
      img {
        margin-right: 8px;
      }
      span {
        margin-top: 10px;
        &:last-child {
          color: $maincolor;
          font-family: sans-serif;
          letter-spacing: 0.68px;
        }
      }
    }
    p {
      color: #898989;
      font-family: Lato;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: normal;
      line-height: 24px;
      text-align: left;
      letter-spacing: 0.35px;
      &:nth-child(2) {
        margin-top: 23px;
      }
      &:nth-child(3) {
        margin-top: 23px;
        letter-spacing: 0.35px;
      }
    }
  }
  &__company {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    h1 {
      color: $maincolor;
      font-size: 18px;
      letter-spacing: normal;
      line-height: 26px;
      text-transform: uppercase;
      letter-spacing: 0.45px;
      line-height: normal;
      margin-bottom: 26px;
    }
    ul {
      list-style-type: none;
      margin-left: 2px;
      line-height: 42px;
      letter-spacing: 0.3px;
      li {
        a {
          color: #898989;
          transition: color 0.3s ease-in-out;
          &:hover {
            color: $textColor;
          }
        }
      }
    }
  }
}
