.header {
  display: flex;
  min-height: 100px;
  align-items: center;
  justify-content: space-between;
  // border-bottom: 1px solid #ececec;
  // & > * {
  //   height: inherit;
  //   display: flex;
  //   align-content: center;
  //   position: relative;
  // }
  &-line {
    border-bottom: 1px solid #ececec;
    box-sizing: content-box;
  }
  &__left,
  &__right {
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__right {
    position: relative;
  }
}

.logo {
  display: flex;
  align-items: center;
  &__name {
    margin-left: 12px;
    margin-right: 37px;
    text-transform: uppercase;
    font-size: 27px;
    span {
      color: $maincolor;
      font-weight: 900;
    }
  }
}

.search {
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  overflow: hidden;
  height: 38px;
  display: flex;
  align-content: center;
  position: relative;
  & > .search__browse {
    height: inherit;
    width: 87px;
    border-radius: 3px 0 0 3px;
    background-color: #d6d6d62e;
    text-align: center;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0.35px;
    cursor: pointer;
    line-height: 38px;
    transition: background-color 0.3s ease-in-out;
    &:hover {
      background-color: #a4a4a423;
    }
    i {
      margin-left: 5px;
    }
  }
  &__input {
    width: 280px;
    height: inherit;
    padding: 0 15px;
    outline: none;
    overflow: hidden;
    border: none;
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    font-size: 14px;
    letter-spacing: 0.35px;
    &::placeholder {
      color: #a4a4a4bb;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.65px;
    }
  }
  &__button {
    width: 38px;
    outline: none;
    overflow: hidden;
    border: none;
    cursor: pointer;
    background-color: $colorRegul;
    transition: background-color 0.3s ease-in-out;
    &:hover {
      background-color: #a4a4a423;
    }
  }
}

.cart {
  position: relative;
  height: 38px;
  display: flex;
  align-items: center;
  cursor: pointer;
  img {
    width: 32px;
    height: 29px;
    transform: rotate(0);
    transition: transform 1s ease-in-out;
    &:hover {
      transform: rotate(360deg);
    }
  }
  span {
    position: absolute;
    top: -3px;
    left: 22px;
    color: $colorRegul;
    width: 19px;
    height: 19px;
    background-color: $maincolor;
    border-radius: 20px;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
  }
}

.my-account {
  height: 38px;
  display: flex;
  align-content: center;
  position: relative;
  & > a {
    width: 130px;
    height: inherit;
    background-color: $maincolor;
    text-align: center;
    color: $colorRegul;
    font-size: 15px;
    letter-spacing: 0.38px;
    line-height: 38px;
    margin-left: 26px;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: $colorRegul;
      color: $maincolor;
      outline: 1px solid $maincolor;
    }
    i {
      margin-left: 5px;
    }
  }
}
