.header {
  min-height: 100px;
  border-bottom: 1px solid #ececec;
  & > .container {
    min-height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__left,
  &__right {
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__right {
    position: relative;
  }
}

.logo {
  display: flex;
  align-items: center;
  &__name {
    margin-left: 12px;
    margin-right: 37px;
    text-transform: uppercase;
    font-size: 27px;
    span {
      color: $maincolor;
      font-weight: 900;
    }
  }
}

.search {
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  height: 38px;
  display: flex;
  align-content: center;
  & > .search__browse {
    position: relative;
    width: 87px;
    height: inherit;
    border-radius: 3px 0 0 3px;
    background-color: #d6d6d62e;
    text-align: center;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0.35px;
    cursor: pointer;
    line-height: 38px;
    transition: background-color 0.3s ease-in-out;
    &:hover {
      background-color: #a4a4a423;
      & > .search__browse-menu {
        height: auto;
        overflow: visible;
      }
    }
    i {
      margin-left: 5px;
    }
  }
  &__browse-menu {
    position: absolute;
    width: 220px;
    height: 0;
    border-radius: 5px;
    background-color: #ffffff;
    z-index: 100;
    line-height: normal;
    padding-left: 15px;
    box-shadow: 1px 0 8px #ccc;
    text-align: left;
    overflow: hidden;
    h2 {
      max-width: 150px;
      font-size: 16px;
      font-weight: 600;
      border-bottom: 1px solid #e8e8e8;
      line-height: 40px;
    }
    ul {
      list-style: none;
      margin-top: 16px;
      margin-bottom: 25px;
      margin-left: 5px;
      li {
        a {
          letter-spacing: 0.35px;
          font-size: 14px;
          font-weight: 300;
          line-height: 23px;
          transition: color 0.15s;
          &:hover {
            color: $maincolor;
          }
        }
      }
    }
    &::before {
      content: "\f0d8";
      font-family: "FontAwesome";
      position: relative;
      top: -11px;
      left: 52px;
      color: #ffffff;
      width: 14px;
    }
  }
  &__input {
    width: 280px;
    padding: 0 15px;
    outline: none;
    border: none;
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    font-size: 14px;
    letter-spacing: 0.35px;
    &::placeholder {
      color: #a4a4a4bb;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.65px;
    }
  }
  &__button {
    width: 38px;
    outline: none;
    overflow: hidden;
    border: none;
    cursor: pointer;
    background-color: $colorRegul;
    transition: background-color 0.3s ease-in-out;
    &:hover {
      background-color: #a4a4a423;
    }
  }
}

.cart {
  position: relative;
  height: 38px;
  display: flex;
  align-items: center;
  cursor: pointer;
  img {
    width: 32px;
    height: 29px;
    transform: rotate(0);
    transition: transform 2s cubic-bezier(1, -0.21, 0, 1.33);
    &:hover {
      transform: rotate(360deg);
    }
    &:active {
      animation-duration: 2s;
      animation-name: myanim;
    }
  }
  span {
    position: absolute;
    top: -3px;
    left: 22px;
    color: $colorRegul;
    width: 19px;
    height: 19px;
    background-color: $maincolor;
    border-radius: 20px;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
  }
  &__menu {
    position: absolute;
    top: 40px;
    left: -95px;
    width: 262px;
    height: 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 0 8px $lineColor;
    padding: 0 18px;
    overflow: hidden;
    z-index: 20;
    &_items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0;
      border-bottom: 1px solid $lineColor;
      h2 {
        font-size: 12px;
        font-weight: 700;
      }
      span {
        background-color: transparent;
      }
      p {
        color: #f16d7f;
        font-size: 12px;
        font-weight: 400;
      }
      button {
        border: none;
        background-color: transparent;
        color: #c0c0c0;
      }
    }
    &-cent {
      display: flex;
      justify-content: space-between;
      margin: 19px 0 32px;
      h2 {
        font-size: 16px;
        font-weight: 700;
      }
      span {
        width: auto;
        height: auto;
        position: unset;
        font-size: 16px;
        font-weight: 700;
        color: $maincolor;
        background-color: transparent;
        border-radius: 0;
      }
    }

    img {
      width: 72px;
      height: 85px;
      transition: none;
    }
    span {
      position: unset;
    }
    &-btn {
      width: 100%;
      height: 50px;
      background-color: $colorRegul;
      color: $maincolor;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      border: 1px solid $maincolor;
      margin-bottom: 11px;
      transition: all 0.2s;
      &:hover {
        color: $colorRegul;
        background-color: $maincolor;
      }
    }
  }
  &:hover {
    & > .cart__menu {
      height: auto;
      overflow: visible;
    }
  }
}

.my-account {
  height: 38px;
  display: flex;
  align-content: center;
  position: relative;
  & > a {
    width: 130px;
    height: inherit;
    background-color: $maincolor;
    text-align: center;
    color: $colorRegul;
    font-size: 15px;
    letter-spacing: 0.38px;
    line-height: 38px;
    margin-left: 26px;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: $colorRegul;
      color: $maincolor;
      outline: 1px solid $maincolor;
    }
    i {
      margin-left: 5px;
    }
  }
}
