.top-nav {
  display: flex;
  justify-content: center;
  min-height: 51px;
  font-size: 14px;
  font-weight: bold;
  & > .menu-list {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    & .menu-link {
      text-transform: uppercase;
      padding: 15px 20px;
    }
  }
  & > .menu-link {
    display: block;
    padding: 20px 10px;
    font-family: sans-serif;
    line-height: 26px;
    text-transform: uppercase;
  }
}

.menu-link:hover {
  border-bottom: 3px solid $maincolor;
}

.active {
  border-bottom: 3px solid $maincolor;
}
