.offer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 96px;
  &__seller {
    display: inherit;
    max-width: 767px;
    min-height: 529px;
    position: relative;
    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
    p {
      position: absolute;
      top: 136px;
      left: 38px;
      color: $colorRegul;
      font-size: 54px;
      font-weight: 700;
      line-height: 28px;
      text-transform: uppercase;
      span:first-child {
        letter-spacing: 1.5px;
        line-height: 54px;
        color: $maincolor;
      }
      span:last-child {
        font-size: 32px;
        letter-spacing: 0.6px;
        line-height: 32px;
      }
    }
  }
  &__featured {
    width: 373px;
    min-height: 529px;
    display: inherit;
    flex-direction: column;
    justify-content: space-around;
    background: #222224;
    color: #fbfbfb;
    &-cart {
      display: inherit;
      align-items: end;
      width: 100%;
      justify-content: space-evenly;
      div {
        width: 60%;
        h2 {
          font-size: 20px;
          font-weight: 700;
          letter-spacing: 0.5px;
          margin-bottom: 17px;
        }
        p {
          font-size: 14px;
          font-weight: 300;
          letter-spacing: 0.34px;
          line-height: 24px;
        }
      }
    }
  }
}
