$maincolor: #f16d7f;
$colorRegul: #ffffff;
$textColor: #222222;
$lineColor: #eaeaea;

%button {
  padding: 12px 14px;
  text-transform: uppercase;
  color: #4a4a4a;
  font-weight: 700;
  background-color: $colorRegul;
  border: 1px solid $lineColor;
  cursor: pointer;
  &:hover {
    background-color: #4a4a4a;
    color: $colorRegul;
  }
}

.hidden {
  opacity: 0;
}
.visible {
  opacity: 1;
}
